<div class="h-screen w-full bg-base text-white font-sans overflow-hidden flex flex-col relative selection:bg-accent selection:text-black">

  <div class="flex-1 flex overflow-hidden p-4 gap-4">

    <app-sidebar class="hidden md:flex w-64 shadow-2xl shadow-black/50"></app-sidebar>

    <div class="flex-1 flex flex-col bg-surface/30 rounded-2xl border border-white/5 relative overflow-hidden shadow-inner">

      <div class="absolute inset-0 bg-noise pointer-events-none opacity-50 z-0"></div>

      <app-navbar class="block top-0 z-50 relative"></app-navbar>

      <main class="flex-1 overflow-y-auto p-8 scroll-smooth z-10 relative">
        <router-outlet></router-outlet>
      </main>

    </div>

  </div>

  <app-player class="block z-50"></app-player>

</div>
