/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;

  --color-brand-dark: #0a0a0c;
  --color-brand-gray: #121214;

  --color-brand-primary: #8b5cf6;
  --color-brand-secondary: #ec4899;

  --color-glass-border: rgba(255, 255, 255, 0.08);
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-xl border border-[--color-glass-border];
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[--color-brand-primary] to-[--color-brand-secondary];
  }
}

body {
  background-color: var(--color-brand-dark);
  color: white;
  font-family: var(--font-sans);
}
