<div class="group relative bg-zinc-900/40 p-4 rounded-xl hover:bg-zinc-800 transition duration-300 cursor-pointer">

  <div class="relative aspect-square rounded-lg overflow-hidden mb-4 shadow-lg">

    <img [src]="data.coverUrl | imgUrl" class="w-full h-full object-cover">

    <button
      (click)="onPlay()"
      class="absolute bottom-2 right-2 w-12 h-12 rounded-full bg-accent text-black flex items-center justify-center shadow-xl translate-y-4 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition duration-300 hover:scale-105"
      [class.opacity-100]="playerStore.currentSong()?.id === data.id && playerStore.isPlaying()"
      [class.translate-y-0]="playerStore.currentSong()?.id === data.id && playerStore.isPlaying()"
    >

      @if (playerStore.currentSong()?.id === data.id && playerStore.isPlaying()) {
        <i class="ri-pause-fill text-xl"></i> }
      @else {
        <i class="ri-play-fill text-xl ml-1"></i>
      }

    </button>
  </div>

  <h3 class="font-bold text-white truncate">{{ data.title }}</h3>
  <p class="text-sm text-zinc-400 truncate mt-1">{{ data.artist }}</p>

</div>
